*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #002642;
    color: #faf3dd;
}
#header{
    width: 100%;
    height: 100vh;

}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 150px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #faf3dd;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #fe7f2d;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
nav ul li a.no-animation::after {
    width: 0%;
}


nav ul li a.no-animation:hover::after {
    width: 0%;
}
#language-toggle {
    display: inline-block;
    margin-right: 20px; 
    color: #faf3dd;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    line-height: 1; 
}

#language-toggle img {
    vertical-align: middle;
    margin-right: 5px;
    vertical-align: middle;
    margin-right: 5px;
    max-width: 24px; 
    height: auto; 
    margin-top: -2px;
}
.header-text{
    margin-top: 13%;
    font-size: 30px;
}
.header-text h1{
    font-size: 50px;
    margin-top: 20px;
}
.header-text h1 span{
    color:#fe7f2d
}
/*about*/
#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #faf3dd;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #fe7f2d;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #fe7f2d;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/*work*/
#portfolio{
    padding: 60px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position:relative;
    overflow: hidden;
    
}
.align-icons {
    display: inline-block;
    margin-right: 10px; 
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #fe7f2d);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    text-decoration: none;
    color: #fe7f2d;
    font-size: 18px;
    line-height: 45px;
    background: #fff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
}
.work:not(:nth-child(-n+3)) {
    display: none;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #fe7f2d;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background-color: #fe7f2d;
}
#see-more, #see-less {
    display: none;
}
#see-more.active, #see-less.active {
    display: block;
}
/*contact*/
.social-icons{
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 999;
    border-radius: 6px;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column; /* Establece la dirección de flexión a column para alinear verticalmente los íconos */
    align-items: center; /* Centra los íconos horizontalmente */
}
.social-icons::after{
    content: '';
    display: block;
    width: 1px;
    height: 90px;
    margin: 0 auto;
    background-color: #fe7f2d;  
}
.social-icons a{
    color: #fff;
    margin: 10px 0; /* Ajusta el margen vertical entre los íconos */
    font-family: 'Poppins', sans-serif;
    transition: transform 0.3s;
}
.social-icons a:hover, .social-icons a:focus {
    color: #fe7f2d;
    transform: translateY(-3px);
}
.correo-vertical-fijo {
    position: fixed;
    bottom: 20px; /* Ajusta la distancia desde la parte inferior según tus preferencias */
    right: 20px; /* Ajusta la distancia desde la parte derecha según tus preferencias */
    z-index: 999; /* Ajusta el valor del índice z para que esté por encima de otros elementos */    
    border-radius: 6px;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.3s;
}
.correo-vertical-fijo::after {
    content: '';
    display: block;
    width: 1px;
    height: 90px;
    margin: 0 auto;
    background-color: #fe7f2d;
  }
.correo-vertical-fijo a {
    text-decoration: none;
    color: #fff;
    margin: 20px auto;
    padding: 5px 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.1em;
    writing-mode: vertical-rl;
    transition: transform 0.3s;
  }
  .correo-vertical-fijo a:hover, .correo-vertical-fijo a:focus {
    transform: translateY(-3px);
}
/*responsive*/
nav .fas{
    display: none;
}

@media only screen and (max-width: 600px){
    .header-text{
        margin-top: 70%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #fe7f2d;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .work-list {
        grid-template-columns: 1fr; /* Establece una sola columna para los trabajos */
        grid-gap: 20px; /* Ajusta el espaciado entre los trabajos*/
    }
    .work {
        display: block; /* Muestra los trabajos uno encima del otro */
    }
    .work .layer p {
        display: none;
    }
    .align-icons {
        display: inline-block;
        margin-right: 10px; /* Puedes ajustar el valor de margen según tus preferencias */
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
        margin-bottom: -15px;
    }
    .social-icons {
        flex-direction: row; /* Cambiar la dirección de flexión a horizontal */
        justify-content: center; /* Centrar los íconos horizontalmente */
        align-items: flex-start; /* Alinear los íconos en la parte superior verticalmente */
      }
    
      .correo-vertical-fijo {
        position: fixed;
        bottom: 20px; /* Ajusta la distancia desde la parte inferior según tus preferencias */
        right: 20px; /* Ajusta la distancia desde la parte derecha según tus preferencias */
        z-index: 999; /* Ajusta el valor del índice z para que esté por encima de otros elementos */    
        border-radius: 6px;
        text-align: center;
        font-size: 24px;
        cursor: pointer;
        transition: transform 0.3s;
      }
      
      .correo-vertical-fijo::after {
        content: '';
        display: block;
        width: 1px;
        height: 90px;
        margin: 0 auto;
        background-color: #fe7f2d;
      }
      
      .correo-vertical-fijo a {
        text-decoration: none;
        color: #fff;
        display: block; /* Cambiar el enlace a un elemento de bloque */
        margin: 20px auto;
        padding: 10px;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        line-height: 1;
        letter-spacing: 0.1em;
        writing-mode: horizontal-tb; /* Restablecer el modo de escritura horizontal */
        transition: transform 0.3s;
      }
      
      .correo-vertical-fijo a:hover, .correo-vertical-fijo a:focus {
        transform: translateY(-3px);
      }
    
}
